%p#notice= notice

%h1= @user.username

%h2 Reviews:
- @user.reviews.each do |review|
  %p
    Review for
    =link_to "#{review.restaurant.name}", "/restaurants/#{review.restaurant.id}"
    %br
    stars: #{review.stars} | price: #{review.price}
    %br
    =review.content
    %br
%p
  %b Location:
  = @user.location

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', restaurant_path
