= form_for @restaurant do |f|
  - if @restaurant.errors.any?
    #error_explanation
      %h2= "#{pluralize(@restaurant.errors.count, "error")} prohibited this restaurant from being saved:"
      %ul
        - @restaurant.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label "Address"
    = f.text_field :location
  .field
    = f.label "Twitter Handle (ex: '@ReviewsOnRails')"
    = f.text_field :twitterHandle
  .field
    = f.label "Website"
    = f.text_field :website
  .field
    = f.label :cuisine
    = f.text_field :cuisine
  .actions
    = f.submit 'Save'
