!!!
%html
  %head
    %script{src: "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", type: "text/javascript"}
    %script{src: "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", type: "text/javascript"}

  %body	
    %h1 Restaurant's Map

    = form_tag restaurants_path, :method => :get, :id => 'cuisines_form' do
      = hidden_field_tag "price_sort", true if @price_header
      = hidden_field_tag "ratings_sort", true if @ratings_header
      Include: 
      - @all_cuisines.each do |cuisine|
        = check_box_tag "cuisines[#{cuisine}]", 1, @selected_cuisines.include?(cuisine), :id => "cuisines_#{cuisine}"
        = "#{cuisine}"
      = submit_tag 'Refresh', :id => 'cuisines_submit'

    %br

    %div{style: "width: 600px;"}
      #map{style: "width: 600px; height: 200px;"}
    :javascript
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(#{raw @markers.to_json});
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });

    %table#restaurants
      %tr
        %th Name
        %th= link_to 'Rating', restaurants_path(:sort => 'rating', :cuisines => @selected_cuisines), :id => 'ratings_header'
        %th= link_to 'Price', restaurants_path(:sort => 'price', :cuisines => @selected_cuisines), :id => 'price_header'
        %th Website
        %th Cuisine

      - @restaurants.each do |restaurant|
        %tr
          %td= link_to "#{restaurant.name}", restaurant
          %td= restaurant.averageRating
          %td= restaurant.averagePrice
          %td= link_to restaurant.simpleWebLink, restaurant.website
          %td= restaurant.cuisine

    %br

    = link_to 'New Restaurant', new_restaurant_path

