%p#notice= notice

%p
  %b Name:
  = @restaurant.name
%p
  %b Location:
  = @restaurant.location
%p
  %b Averagerating:
  = @restaurant.averageRating
%p
  %b Averageprice:
  = @restaurant.averagePrice
%p
  %b Reviews:
  = @restaurant.reviews
%p
  %b Cuisine:
  = @restaurant.cuisine

= link_to 'Edit', edit_restaurant_path(@restaurant)
\|
= link_to 'Back', restaurants_path
