!!!
%html
  %head
    %script{src: "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", type: "text/javascript"}
    %script{src: "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", type: "text/javascript"}

  %body
    %h1= @restaurant.name
    %restaurantInfo
      = link_to 'Edit this restaurant', edit_restaurant_path
      %p
        %emph1
          Location:
        = @restaurant.location
      %p
        %emph1
          Rating:
        = @restaurant.averageRating
        \|
        %emph1
          Price:
        = @restaurant.averagePrice
        \|
        %emph1
          Cuisine:
        = link_to "#{@restaurant.cuisine}", "/restaurants/?cuisines[#{@restaurant.cuisine}]"
      %p
        %emph1= link_to 'Write a new review', new_review_path(:restaurant => @restaurant)
    %reviews
      %h2 Reviews
      - @restaurant.reviews.each do |review|
        %p
          %revUsr
            = link_to "#{review.user.name}", review.user
            \says
          %br
          %emph1
            stars: #{review.stars} | price: #{review.price}
          %br
          %reviewText
            =review.content
        %br

    %tweets
      %h2 Buzz
      - @tweets.each do |tweet|
        %blockquote.twitter-tweet
          %a{href: "#{tweet.url}"}
        %script{charset: "utf-8", src: "//platform.twitter.com/widgets.js"}
