%p#notice= notice

%p
  %b Location:
  = @restaurant.location
%p
  %b Phone:
  = @restaurant.phone
%p
  %b Webpage:
  = @restaurant.webpage
%p
  %b Cuisine:
  = @restaurant.cuisine
%p
  %b Priceaverage:
  = @restaurant.priceAverage

= link_to 'Edit', edit_restaurant_path(@restaurant)
\|
= link_to 'Back', restaurants_path
